.list {
  background-color: #a9a9a9;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 1em;
}

.item {
  margin-right: 1em;
}

.item a {
  color: #222;
  text-decoration: none;
}

.item a:hover {
  color: #fb3;
}
