.footer {
  background-color: #222;
  color: #fff;
  padding: 0.5em;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.item {
  margin-right: 1em;
  z-index: 1;
}

.item a {
  color: #fff;
  margin: 0 1em;
  text-decoration: none;
}

.item a:hover {
  color: #fb3;
}

.copy-right {
  margin-top: 2em;
}

.copy-right span {
  color: #fb3;
  font-weight: bold;
}
